// Change tags to classes and set a prefix
// Set $m-prefix with a name
// $m-prefix: null;
$m-prefix:      null;

// To create a class for each tag with the prefix name
// set $m-prefix with a name and set $m-prefix-each to true
// $m-prefix-each: false;
$m-prefix-each: false;

$m-background:  #fff;
$m-color:       #333;

$m-font-family: Arial, Helvetica, sans-serif;
$m-font-size:   16px;
$m-font-weight: normal;
$m-line-height: 1.5;
$m-code-family: monospace;
$m-h-size:      18px;

$m-transition:  all 0.2s linear;
